# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/authKey
/node_modules
/.pnp
.pnp.js
yarn.lock
# testing
/coverage

# production
/build

#development 
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.*


# typescript
*.tsbuildinfo
next-env.d.ts

public/images/*
!public/images/dont_delete.json

public/avatars/*
!public/avatars/dont_delete.json

