

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

  <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> 

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->

    <!-- Your title goes here -->
    <title>You're Invited</title>
    <!-- End title -->

    <!-- Start stylesheet -->
    <style type="text/css">
      a,a[href],a:hover, a:link, a:visited {
        /* This is the link colour */
        text-decoration: none!important;
        color: #0000EE;
      }
      .link {
        text-decoration: underline!important;
      }
      p, p:visited {
        /* Fallback paragraph style */
        font-size:15px;
        line-height:24px;
        font-family:'Helvetica', Arial, sans-serif;
        font-weight:300;
        text-decoration:none;
        color: #000000;
      }
      h1 {
        /* Fallback heading style */
        font-size:22px;
        line-height:24px;
        font-family:'Helvetica', Arial, sans-serif;
        font-weight:normal;
        text-decoration:none;
        color: #000000;
      }
      .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {line-height: 100%;}
      .ExternalClass {width: 100%;}
    </style>
    <!-- End stylesheet -->

</head>

  <!-- You can change background colour here -->
  <body style="font-family: 'Inter', sans-serif !important; margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #f2f4f6; color: #000000" align="center">
  
  <!-- Fallback force center content -->
  <div style="">
    <div style="position: relative;">
      <div style="display: flex; justify-content: center;">

     
<div style="position: absolute; border-radius: 12px; opacity:0.1; background: url(https://ibb.co/fGWpD4N); height: 100%; width: 600px; background-repeat: repeat;  z-index: -1; ">
</div>
</div>
  <table align="center" style="vertical-align: top; width: 600px; max-width: 600px;" width="600">
    <tbody>
        <tr>
            <td style="width: 596px; vertical-align: top; padding-left: 20px; padding-right: 0; padding-top: 15px;"
              width="596">
              <img alt="logo" src="https://bit.ly/3M0NwoM" />
            </td>
          </tr>
        <tr>
          <td style="width: 596px; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px;" width="596">
            <h1 style="color:white; color: #667085; font-size: 34px; padding: 0px 20px; margin-bottom: 10px;">Reset your password</h1>
          </td>
        </tr>

        <tr>
          <td style="width: 596px; vertical-align: top; padding-left: 0; padding-right: 0;" width="596">
            <p style="color:white; margin: 0px; padding: 0px 20px; color: #98A2B3; margin: 10px 0px;">Hello {{username}}</p>
          </td>
        </tr>
        
   
        
        <tr>
          <td style="width: 596px; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 0px; padding-bottom: 15px;" width="596">
            <p style="color:white; margin: 0px; padding: 0px 20px; color: #98A2B3;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
          </td>
        </tr>
    
        
        <tr>
          <td style="width: 596px; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 0px; padding-bottom: 15px;" width="596">
            <div style="display: flex; width: 100%; align-items: center; justify-content: center; ">
              <div style="background-color: #213642; border-radius: 12px; width: 100%; margin: 0px 20px; text-align: center;">
                <a href="{{baseUrl}}?forgottoken={{token}}&&username={{username}}" target="_blank"><p style="font-size: 24px; margin: 14px; color: #FFFFFF;">Reset your password</p></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  </div>

  </body>

</html>
